/* ====== Reset ====== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    color: #333;
}

/* ====== Navbar ====== */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #3c5857;
    color: white;
    padding: 0;
    overflow: hidden;
    height: 100px;
}

.angled-bg {
    padding: 1rem 15rem;
    background: #6caea3;
    clip-path: polygon(0 0, 80% 0, 95% 100%, 0% 100%);
    width: 280px;
    /* adjust width as needed */
    height: 120px;
    /* controls vertical size */
    display: flex;
    align-items: center;
    /* vertically center */
    justify-content: center;
    /* horizontally center */
}

.angled-bg img {
    height: 120px;
    width: auto;
    margin-right: 120px;
    margin-top: 40px;
}

/* Nav links */
.navbar ul {
    list-style: none;
    display: flex;
    gap: 4rem;
    margin-right: 6rem;

}

.navbar a {
    color: rgb(255, 255, 255);
    font-family: "Inter", sans-serif;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.navbar a:hover {
    color: #ffcb05;
}

/* Title */
.title {
    text-align: center;
    font-size: 3.5rem;
    margin-top: 60px;
    letter-spacing: 4px;
    font-weight: 800;
    font-family: "Tinos", serif;

}

/* Section Layout */
.activities-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    padding: 60px 80px;
    justify-items: center;
}

/* Card style */
.activity-card {
    width: 100%;
    max-width: 350px;
    border-radius: 15px;
    border: 2px solid #d4a746;
    /* Gold border */
    overflow: hidden;
    text-align: center;
    padding-bottom: 20px;
    transition: transform 0.3s ease;
}

.activity-card:hover {
    transform: translateY(-8px);
}

.activity-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.activity-content {
    padding: 15px;
}

.activity-content h3 {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 8px;
    color: #ffd97a;
    /* Light gold */
}

.activity-content p {
    font-size: 0.95rem;
    line-height: 1.4;
}


.footer {
    margin-top: 60px;
    background: white;
    text-align: center;
    padding: 18px;
    font-size: 17px;
    font-weight: 600;
}