@media (max-width: 900px) {



    .navbar {
        width: 100% !important;
        max-width: 100% !important;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu-toggle {
        display: flex;
        margin-right: 20px;
        z-index: 1001;
    }

    .menu-toggle.active span:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }

    .menu-toggle.active span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active span:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }

    .nav-links {
        position: fixed;
        top: 0;
        left: -260px;
        width: 250px;
        height: 100vh;
        background: #3c5857;
        padding-top: 120px;
        transition: 0.4s;
        z-index: 1000;
    }

    .nav-links.active {
        left: 0;
    }

    .nav-links ul {
        flex-direction: column;
        gap: 2rem;
        margin: 0;
        padding-left: 30px;
    }

    .angled-bg {
        padding: 1rem 2rem;
        width: 180px;
        height: 100px;
    }

    .angled-bg img {
        height: 90px;
        margin: 0;
        margin-top: 20px;
        margin-right: 20px;
    }


    .hero {
        min-height: 70vh;
        height: auto;
        min-height: auto;
        padding-bottom: 20px;
        background: white;

    }

    /* Reset the absolute height */
    .hero-image {
        position: relative;
        height: auto;
    }

    /* Make image auto-size and full width */
    .hero-image img {
        width: 100%;
        height: auto !important;
        object-fit: contain !important;
    }

    /* Center content */
    .hero-content {
        position: relative;
        z-index: 2;
        max-width: 90%;
        margin: 0 auto;
        padding: 0;
        color: black;
        text-align: center;
        margin-top: 90px;
        margin-bottom: 60px;
    }

    .hero-content h1 {
        font-size: 2rem;
    }

    .hero-content p {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    .logo-card,
    .logo-card1,
    .logo-card2,
    .logo-card3 {
        margin-right: 0;
        width: 300px;
    }

    .circle.yellow {
        width: 90px;
        height: 90px;
        background: #ffe85f;
        top: 0;
        left: 0;
        transform: translate(-40%, 45%);
    }

    .circle.blue {
        width: 110px;
        height: 110px;
        background: #7da4e0;
        bottom: 0;
        right: 0;
        transform: translate(39%, -25%);
    }

    .about-content p {
        font-size: 1rem;
    }

    /* mission and vision */
    .mv-wrapper {
        grid-template-columns: 1fr;
        gap: 50px;
    }


    .card1 img {
        width: 230px;
        height: auto;
    }

    .circle.orange {
        width: 90px;
        height: 90px;
        transform: translate(-45%, 10%);
    }

    .circle.green {
        width: 110px;
        height: 110px;
        background: #3c8f7d;
        bottom: 0;
        right: 0;
        transform: translate(40%, 10%);
    }

    .missionh {
        font-size: 4rem;
    }

    .missionp {
        font-size: 1rem;
        max-width: 350px;
        margin-bottom: 30px;
    }

    .logo-card2 {
        margin-right: 0;
        width: 100px;
        margin-bottom: 30px;
        margin-left: 20px;
    }


    .card2 {
        height: 300px;
    }

    .card2 img {
        width: 230px;
        height: auto;
    }

    .circle.pink {
        width: 90px;
        height: 90px;
        background: #f49e9f;
        top: 0;
        left: 0;
        transform: translate(150%, -15%);
    }

    .circle.blue1 {
        width: 110px;
        height: 110px;
        background: #caddfe;
        bottom: 0;
        right: 0;
        transform: translate(-125%, 20%);
    }

    .visionh {
        font-size: 4rem;
    }

    .visionp {
        font-size: 1rem;
        max-width: 350px;
        margin-bottom: 50px;
    }

    .contact-section {
        flex-direction: column;
        /* stack items */
        justify-content: center;
        /* center vertically */
        align-items: center;
        /* center horizontally */
        /* gap: 2rem; */
    }

    .logo-card3 {
        margin-bottom: 50px;
        justify-content: center;
        text-align: center;
        align-items: center;
        /* margin-left: 30px; */
    }

    .contact-left,
    .contact,
    .logo-card3 {
        margin: 0 auto;
        /* center sections */
    }

    .card3 {
        width: 300px;
        height: auto;
        margin-bottom: 50px;
        /* margin-left: 13px; */
    }

    .card3 h1 {
        font-size: 1.5rem;
    }

    .circle.grey {
        width: 90px;
        height: 90px;
        transform: translate(-40%, -35%);
    }

    .circle.black {
        width: 100px;
        height: 100px;
        transform: translate(40%, -220%);
    }

    .contact-left {
        margin-bottom: 50px;
    }

    .contact-section {
        align-items: center;
        justify-self: center;
    }

    .contact-info {
        margin-top: 30px;
        /* margin-left: 70px;         */
    }

    .footer-logo img {
        width: 190px;
        margin-bottom: 0;
    }

    .footer-links {
        flex-direction: column;
        margin: 0;
        text-align: center;
        margin-top: 0;
    }

    .links ul li a {
        font-size: 1rem;
    }

    .social-icons a {
        font-size: 1.3rem;
    }

    .footer-bottom {
        font-size: 0.9rem;
        margin-top: 10px;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 2rem;
    }

    .footer-links {
        margin-left: 0;
        margin-top: 20px;
        align-items: center;
        gap: 1.5rem;
    }

    .socials {
        margin-left: 0;
    }

    .footer-powered {
        margin-top: 20px;
        text-align: center;
    }



    .social-icons a {
        width: 40px;
        height: 40px;
        font-size: 1.2rem;
    }

    .footer-powered img {
        width: 150px;
    }


}

@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 2.5rem;
    }

    .hero-content p {
        font-size: 1.5rem;
    }

    .mission-content p {
        font-size: 1.2rem;
    }

    .logo-card,
    .logo-card1,
    .logo-card2,
    .logo-card3 {
        margin-right: 0;
        width: 500px;
    }



    .circle.yellow {
        width: 100px;
        height: 100px;
        background: #ffe85f;
        top: 0;
        left: 0;
        transform: translate(10%, 35%);
    }

    .circle.blue {
        width: 130px;
        height: 130px;
        background: #7da4e0;
        bottom: 0;
        right: 0;
        transform: translate(9%, -15%);
    }

    .missionp {
        font-size: 1rem;
        max-width: 600px;
        margin-bottom: 30px;
    }

    .visionp {
        max-width: 520px;
        font-size: 1rem;
    }

    .circle.pink {
        width: 90px;
        height: 90px;
        background: #f49e9f;
        top: 0;
        left: 0;
        transform: translate(-30%, -15%);
    }

    .circle.blue1 {
        width: 110px;
        height: 110px;
        background: #caddfe;
        bottom: 0;
        right: 0;
        transform: translate(35%, 20%);
    }

    .contact-left {
        width: 500px
    }

    .logo-card3 {
        justify-content: center;
    }

    .contact-section {
        align-items: center;
        justify-self: center;
    }




}