/* ====== Reset ====== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}
body {
    background-color: #fff;
    color: #333;
}

/* ====== Navbar ====== */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #3c5857;
    color: white;
    padding: 0;
    overflow: hidden;
    height: 100px;
}

.angled-bg {
    padding: 1rem 15rem;
    background: #6caea3;
    clip-path: polygon(0 0, 80% 0, 95% 100%, 0% 100%);
    width: 280px;
    /* adjust width as needed */
    height: 120px;
    /* controls vertical size */
    display: flex;
    align-items: center;
    /* vertically center */
    justify-content: center;
    /* horizontally center */
}

.angled-bg img {
    height: 120px;
    width: auto;
    margin-right: 120px;
    margin-top: 40px;
}

/* Nav links */
.navbar ul {
    list-style: none;
    display: flex;
    gap: 4rem;
    margin-right: 6rem;
    
}

.navbar a {
    color: rgb(255, 255, 255);
    font-family: "Inter", sans-serif;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.navbar a:hover {
    color: #ffcb05;
}

/* ====== Hero Section ====== */
.hero {
    position: relative;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #000;
    overflow: hidden;
}

/* Image behind everything */
.hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

/* Content on top */
.hero-content {
    position: relative;
    z-index: 1;
    /* bring above the image */
    text-align: left;
    color: white;
    max-width: 700px;
    margin-top: 240px;
    margin-left: 50px;
    /* padding: 2rem; */
}

.hero-content h1 {
    font-family: "Tinos", serif;
    font-size: 3.7rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.hero-content p {
    font-family: "Tinos", serif;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

.hero-content button {
    background: #ffce0a;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.hero-content button:hover {
    background: #ddb206;
}



/* ====== About Section ====== */

.logo-card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 350px;
    margin-right: 100px;
}

.circle {
    position: absolute;
    border-radius: 50%;
    opacity: 0.8;
}

/* Yellow circle (top-left) */
.circle.yellow {
    width: 100px;
    height: 100px;
    background: #ffe85f;
    top: 0;
    left: 0;
    transform: translate(10%, 35%);
}

/* Blue circle (bottom-right) */
.circle.blue {
    width: 130px;
    height: 130px;
    background: #7da4e0;
    bottom: 0;
    right: 0;
    transform: translate(9%, -15%);
}

/* ========== White Card ========== */
.card {
    position: relative;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 35px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
}

.card img {
    width: 300px;
    max-width: 100%;
    height: auto;
}

.about {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 3rem 2rem;
    background: #fff;
}

.about-content p {
    font-family: "Tinos", serif;
    max-width: 600px;
    /* line-height: 1.6; */
    font-size: 1.2rem;
    font-weight: 540;
    text-align: justify;
    text-justify: inter-word;
}

.more-link {
    font-weight: 700;
    color: #000000;
    /* blue */
    text-decoration: none;
    transition: 0.3s;
}

.more-link:hover {
    color: #000000;
    text-decoration: underline;
}



/* Mission */

.logo-card1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 350px;
    margin-right: 100px;
}

.circle {
    position: absolute;
    border-radius: 50%;
    opacity: 0.8;
}

/* Yellow circle (top-left) */
.circle.orange {
    width: 100px;
    height: 100px;
    background: #f57359;
    top: 0;
    left: 0;
    transform: translate(-35%, -30%);
}

/* Blue circle (bottom-right) */
.circle.green {
    width: 130px;
    height: 130px;
    background: #3c8f7d;
    bottom: 0;
    right: 0;
    transform: translate(40%, 35%);
}

/* ========== White Card ========== */
.card1 {
    position: relative;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 35px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width:500px;
}

.card1 img {
    width: 300px;
    /* max-width: 100%; */
    height: auto;
}

.mission {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 3rem 2rem;
    background: #fff;
}

.mission-content p {
    font-family: "Tinos", serif;
    max-width: 600px;
    /* line-height: 1.6; */
    font-size: 1.2rem;
    font-weight: 540;
    justify-content: center;
}
.mission-content h1{
    font-family: "Tinos", serif;
    font-size: 5.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
    color: #b85744;
}



/* Vission */


.logo-card2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 350px;
    margin-right: 100px;
}

.circle {
    position: absolute;
    border-radius: 50%;
    opacity: 0.8;
}

/* Yellow circle (top-left) */
.circle.pink {
    width: 100px;
    height: 100px;
    background: #f49e9f;
    top: 0;
    left: 0;
    transform: translate(450%, -35%);
}

/* Blue circle (bottom-right) */
.circle.blue1 {
    width: 130px;
    height: 130px;
    background: #caddfe;
    bottom: 0;
    right: 0;
    transform: translate(-330%, 40%);
}

/* ========== White Card ========== */
.card2 {
    position: relative;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 35px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 350px;
}

.card2 img {
    width: 300px;
    /* max-width: 100%; */
    height: auto;
}

.vision {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 3rem 2rem;
    background: #fff;
}

.vision-content p {
    font-family: "Tinos", serif;
    max-width: 600px;
    /* line-height: 1.6; */
    font-size: 1.2rem;
    font-weight: 540;
    text-align: justify;
    text-justify: inter-word;
}

.vision-content h1 {
    font-family: "Tinos", serif;
    font-size: 5.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
    color: #7689d6;
}



/* Contact */

.contact-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 4rem 2rem;
    background: #fff;
    gap: 2rem;
}

/* ===== Left Section (Form) ===== */
.contact-left {
    flex: 1 1 400px;
    display: flex;
    justify-content: center;
}

.contact-form {
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-size: 1rem;
    margin-bottom: 0.3rem;
    font-weight: 500;
    color: #000000;
}

.form-group input,
.form-group textarea {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 0.6rem;
    font-size: 1rem;
    outline: none;
    transition: 0.3s;
}



/* Share button */
.share-btn {
    align-self: flex-start;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background: transparent;
    border: 2px solid #000;
    padding: 0.7rem 1.2rem;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.share-btn:hover {
    border-color: #1950b8;
    color: #1950b8;
}


.logo-card3 {
    position: relative;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 350px;
    margin-right: 100px;
}

.circle {
    position: absolute;
    border-radius: 50%;
    opacity: 0.8;
}

/* Yellow circle (top-left) */
.circle.grey {
    width: 100px;
    height: 100px;
    background: #434343;
    top: 0;
    left: 0;
    transform: translate(-45%, -40%);
}

/* Blue circle (bottom-right) */
.circle.black {
    width: 130px;
    height: 130px;
    background: #000000;
    bottom: 0;
    right: 0;
    transform: translate(-30%, -110%);
}

/* ========== White Card ========== */
.card3 {
    position: relative;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 35px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 150px;
    margin-bottom: 30px;
}

.card3 h1 {
    font-family: "Tinos", serif;
    font-size: 2rem;
    font-weight: 600;
    color: #000;
}

.contact-info {
    position: relative;
    margin-left: 90px;
    color: #000;
}

.info-item {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #000;
}

.info-item i {
    font-size: 2.3rem;
}

.info-item a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: black;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    transition: 0.3s;
}
.footer {
    background-color: #1f1f1f;
    color: rgb(255, 255, 255);
    padding: 40px 20px 20px;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo img {
    width: 220px;
    margin-bottom: 10px;
}

.footer-links {
    display: flex;

    margin-left: 60px;
        margin-top: 50px;
}

.links h3,
.socials h3,
.footer-powered h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-family: "Tinos", serif;
}

.links ul {
    list-style: none;
    padding: 0;
}

.links ul li {
    margin: 6px 0;
}

.links ul li a {
    color: #f6f6f6;
    text-decoration: none;
    transition: 0.3s;
    font-size: 1.1rem;
    font-family: "Tinos", serif;
}

.links ul li a:hover {
    color: #c5c4c4;
}

.socials{
    margin-left: 200px;
}
.social-icons a {
    color: #ffffff;
    /* display: inline-flex; */
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    margin: 0 6px;
    transition: 0.3s;
    font-size: 1.5rem;
    text-decoration: none;
}
.social-icons a:hover {
    color: #c5c4c4;
}
.footer-powered {
    text-align: right;
    margin-top: 50px;
    margin-left: 10px;
}

.footer-powered img {
    width: 180px;
    margin-bottom: 8px;
    /* margin-top: 50px; */
}

.footer-powered p {
    font-size: 0.85rem;
    color: #cfd2d6;
    line-height: 1.3;
}

.footer-bottom {
    border-top: 1px solid #555;
    margin-top: 20px;
    padding-top: 10px;
    text-align: center;
    font-size: 1rem;
    color: #ffffff;
}




/* ===== Responsive Design ===== */
@media (max-width: 768px) {
    .contact-section {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .contact-right {
        justify-content: center;
    }

    .contact-info h2 {
        text-align: center;
    }

    .info-item {
        justify-content: center;
    }
}


/* ====== Responsive ====== */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar ul {
        flex-direction: column;
        gap: 1rem;
        margin: 1rem;
    }

    .hero {
        flex-direction: column-reverse;
        text-align: center;
    }

    .hero-content {
        max-width: 100%;
    }

    .about-content {
        flex-direction: column;
        text-align: center;
    }

    .angled-bg {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        width: 100%;
        justify-content: center;
    }
}