/* ====== Reset ====== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: #fff;
    color: #333;
    max-width: 100%;
    overflow-x: hidden;
}

/* ====== Navbar ====== */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #3c5857;
    color: white;
    padding: 0;
    overflow: hidden;
    height: 100px;
    position: relative;
}

.angled-bg {
    padding: 1rem 15rem;
    background: #6caea3;
    clip-path: polygon(0 0, 80% 0, 95% 100%, 0% 100%);
    width: 280px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.angled-bg img {
    height: 120px;
    width: auto;
    margin-right: 120px;
    margin-top: 40px;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
}

.menu-toggle span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 3px;
    transition: all 0.3s ease;
}


.nav-links {
    transition: max-height 0.4s ease;
}

.nav-links ul {
    display: flex;
    gap: 4rem;
    list-style: none;
    margin-right: 6rem;
}

.navbar a {
    color: rgb(255, 255, 255);
    font-family: "Inter", sans-serif;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.navbar a:hover {
    color: #ffcb05;
}

/* ====== Hero Section ====== */
.hero {
    position: relative;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #000;
    overflow: hidden;
}

.hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-content {
    position: relative;
    z-index: 1;
    text-align: left;
    color: white;
    max-width: 700px;
    margin-top: 240px;
    margin-left: 50px;
}

.hero-content h1 {
    font-family: "Tinos", serif;
    font-size: 3.7rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.hero-content p {
    font-family: "Tinos", serif;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

.hero-content button {
    background: #ffce0a;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.hero-content button:hover {
    background: #ddb206;
}

/* ====== About Section ====== */
.logo-card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 350px;
    margin-right: 100px;
}

.circle {
    position: absolute;
    border-radius: 50%;
    opacity: 0.8;
}

.circle.yellow {
    width: 100px;
    height: 100px;
    background: #ffe85f;
    top: 0;
    left: 0;
    transform: translate(10%, 35%);
}

.circle.blue {
    width: 130px;
    height: 130px;
    background: #7da4e0;
    bottom: 0;
    right: 0;
    transform: translate(9%, -15%);
}

.card {
    position: relative;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 35px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
}

.card img {
    width: 300px;
    max-width: 100%;
    height: auto;
}

.about {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 3rem 2rem;
    background: #fff;
}

.about-content p {
    font-family: "Tinos", serif;
    max-width: 600px;
    font-size: 1.2rem;
    font-weight: 540;
    text-align: justify;
    text-justify: inter-word;
}

.more-link {
    font-weight: 700;
    color: #000000;
    text-decoration: none;
    transition: 0.3s;
}

.more-link:hover {
    color: #000000;
    text-decoration: underline;
}


/* Mission */
.logo-card1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 350px;
    margin-right: 100px;
}

.circle.orange {
    width: 100px;
    height: 100px;
    background: #f57359;
    top: 0;
    left: 0;
    transform: translate(-35%, -30%);
}

.circle.green {
    width: 130px;
    height: 130px;
    background: #3c8f7d;
    bottom: 0;
    right: 0;
    transform: translate(40%, 35%);
}

.card1 {
    position: relative;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 35px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
}

.card1 img {
    width: 300px;
    height: auto;
} 


.mission {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 3rem 2rem;
    background: #fff;
}

.missionp{
    font-family: "Tinos", serif;
    max-width: 600px;
    font-size: 1.2rem;
    font-weight: 540;
    justify-content: center;
}

.missionh {
    font-family: "Tinos", serif;
    font-size: 5.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
    color: #b85744;
}

/* Vision */
.logo-card2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 350px;
    margin-right: 100px;
}

.circle.pink {
    width: 100px;
    height: 100px;
    background: #f49e9f;
    top: 0;
    left: 0;
    transform: translate(450%, -35%);
}

.circle.blue1 {
    width: 130px;
    height: 130px;
    background: #caddfe;
    bottom: 0;
    right: 0;
    transform: translate(-330%, 40%);
}

.card2 {
    position: relative;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 35px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 350px;
}

.card2 img {
    width: 300px;
    height: auto;
}

.vision {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 3rem 2rem;
    background: #fff;
}

.visionp {
    font-family: "Tinos", serif;
    max-width: 600px;
    font-size: 1.2rem;
    font-weight: 540;
    text-align: justify;
    text-justify: inter-word;
}

.visionh {
    font-family: "Tinos", serif;
    font-size: 5.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
    color: #7689d6;
}


/* 2 Column layout */
.mv-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: start;
    padding: 40px 0;
    text-align: center;
}

/* Each column box */
.mv-box {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


/* Contact */
.contact-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 4rem 2rem;
    background: #fff;
    gap: 2rem;
}

.contact-left {
    flex: 1 1 400px;
    display: flex;
    justify-content: center;
}

.contact-form {
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-size: 1rem;
    margin-bottom: 0.3rem;
    font-weight: 500;
    color: #000000;
}

.form-group input,
.form-group textarea {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 0.6rem;
    font-size: 1rem;
    outline: none;
    transition: 0.3s;
}

.share-btn {
    align-self: flex-start;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background: transparent;
    border: 2px solid #000;
    padding: 0.7rem 1.2rem;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.share-btn:hover {
    border-color: #1950b8;
    color: #1950b8;
}

.logo-card3 {
    position: relative;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 350px;
}

.circle.grey {
    width: 100px;
    height: 100px;
    background: #434343;
    top: 0;
    left: 0;
    transform: translate(-45%, -40%);
}

.circle.black {
    width: 130px;
    height: 130px;
    background: #000000;
    bottom: 0;
    right: 0;
    transform: translate(-30%, -110%);
}

.card3 {
    position: relative;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 35px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 150px;
    margin-bottom: 30px;
}

.card3 h1 {
    font-family: "Tinos", serif;
    font-size: 2rem;
    font-weight: 600;
    color: #000;
}

.contact-info {
    position: relative;
    margin-left: 90px;
    color: #000;
}

.info-item {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #000;
}

.info-item i {
    font-size: 2.3rem;
}

.info-item a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: black;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    transition: 0.3s;
}

/* Footer */
.footer {
    background-color: #1f1f1f;
    color: rgb(255, 255, 255);
    padding: 40px 20px 20px;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo img {
    width: 220px;
    margin-bottom: 10px;
}

.footer-links {
    display: flex;
    margin-left: 60px;
    margin-top: 50px;
}

.links h3,
.socials h3,
.footer-powered h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-family: "Tinos", serif;
}

.links ul {
    list-style: none;
    padding: 0;
}

.links ul li {
    margin: 6px 0;
}

.links ul li a {
    color: #f6f6f6;
    text-decoration: none;
    transition: 0.3s;
    font-size: 1.1rem;
    font-family: "Tinos", serif;
}

.links ul li a:hover {
    color: #c5c4c4;
}

.socials {
    margin-left: 200px;
}

.social-icons a {
    color: #ffffff;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    margin: 0 6px;
    transition: 0.3s;
    font-size: 1.5rem;
    text-decoration: none;
}

.social-icons a:hover {
    color: #c5c4c4;
}

.footer-powered {
    text-align: right;
    margin-top: 50px;
    margin-left: 10px;
}

.footer-powered img {
    width: 180px;
    margin-bottom: 8px;
}

.footer-powered p {
    font-size: 0.85rem;
    color: #cfd2d6;
    line-height: 1.3;
}

.footer-bottom {
    border-top: 1px solid #555;
    margin-top: 20px;
    padding-top: 10px;
    text-align: center;
    font-size: 1rem;
    color: #ffffff;
}

/* Notice */
.notice {
    position: fixed;
    top: 600px;
    right: 20px;
    min-width: 260px;
    padding: 15px 20px;
    border-radius: 10px;
    font-weight: 600;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 0.4s ease, transform 0.4s ease;
    z-index: 99;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}

.notice-success {
    background: rgba(255, 217, 122, 0.12);
    color: #000000;
    border: 2px solid #caa851;
    backdrop-filter: blur(5px);
}

.notice-error {
    background: rgba(255, 138, 138, 0.12);
    color: #000000;
    border: 2px solid #c65656;
    backdrop-filter: blur(5px);
}

.notice.show {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}


/* ===============================
   FULL RESPONSIVE DESIGN
=============================== */



/* ---------- MOBILE NAVBAR ---------- */
@media (max-width: 900px) {



    .navbar {
        width: 100% !important;
        max-width: 100% !important;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu-toggle {
        display: flex;
        margin-right: 20px;
        z-index: 1001;
    }

    .menu-toggle.active span:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }

    .menu-toggle.active span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active span:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }

    .nav-links {
        position: fixed;
        top: 0;
        left: -260px;
        width: 250px;
        height: 100vh;
        background: #3c5857;
        padding-top: 120px;
        transition: 0.4s;
        z-index: 1000;
    }

    .nav-links.active {
        left: 0;
    }

    .nav-links ul {
        flex-direction: column;
        gap: 2rem;
        margin: 0;
        padding-left: 30px;
    }

    .angled-bg {
        padding: 1rem 2rem;
        width: 180px;
        height: 100px;
    }

    .angled-bg img {
        height: 90px;
        margin: 0;
        margin-top: 20px;
        margin-right: 20px;
    }
    

    .hero {
        min-height: 70vh;
        height: auto;
        min-height: auto;
        padding-bottom: 20px;
        background:white;

    }

    /* Reset the absolute height */
    .hero-image {
        position: relative;
        height: auto;
    }

    /* Make image auto-size and full width */
    .hero-image img {
        width: 100%;
        /* full screen width */
        height: auto !important;
        /* auto height = no zoom */
        object-fit: contain !important;
    }
        /* Center content */
        .hero-content {
            position: relative;
            z-index: 2;
            max-width: 90%;
            margin: 0 auto;
            padding: 0;
            color: black;
            text-align: center;
            margin-top: 90px;
            margin-bottom: 60px;
        }
    
        .hero-content h1 {
            font-size: 2rem;
        }
    
        .hero-content p {
            font-size: 1.2rem;
            margin-bottom: 1rem;
        }

        .logo-card, .logo-card1, .logo-card2, .logo-card3 {
            margin-right: 0;
            width: 300px;
        }

        .circle.yellow {
            width: 90px;
            height: 90px;
            background: #ffe85f;
            top: 0;
            left: 0;
            transform: translate(-40%, 45%);
        }

        .circle.blue {
            width: 110px;
            height: 110px;
            background: #7da4e0;
            bottom: 0;
            right: 0;
            transform: translate(39%, -25%);
        }

        .about-content p {
            font-size: 1rem;
        }

        /* mission and vision */
        .mv-wrapper {
            grid-template-columns: 1fr;
            gap: 50px;
        }


        .card1 img {
            width: 230px;
            height: auto;
        }

        .circle.orange {
            width: 90px;
            height: 90px;
            transform: translate(-45%, 10%);
        }

        .circle.green {
            width: 110px;
            height: 110px;
            background: #3c8f7d;
            bottom: 0;
            right: 0;
            transform: translate(40%, 10%);
        }
        .missionh {
            font-size: 4rem;
        }

        .missionp {
            font-size: 1rem;
            max-width: 350px;
            margin-bottom: 30px;
        }

        .logo-card2 {
            margin-right: 0;
            width: 100px;
        }

        .logo-card2{
            margin-bottom: 30px;
            margin-left: 20px;
        }

        .card2{
            height: 300px;
        }
        .card2 img {
            width: 230px;
            height: auto;
        }

        .circle.pink {
            width: 90px;
            height: 90px;
            background: #f49e9f;
            top: 0;
            left: 0;
            transform: translate(150%, -15%);
        }

        .circle.blue1 {
            width: 110px;
            height: 110px;
            background: #caddfe;
            bottom: 0;
            right: 0;
            transform: translate(-125%, 20%);
        }

        .visionh {
            font-size: 4rem;
        }

        .visionp {
            font-size: 1rem;
            max-width: 350px;
            margin-bottom: 50px;
        }

    .contact-section {
        flex-direction: column;      /* stack items */
        justify-content: center;      /* center vertically */
        align-items: center;          /* center horizontally */
        /* gap: 2rem; */
    }

        .logo-card3{
            margin-bottom: 50px;
            justify-content: center;
            text-align: center;
            align-items: center;
            /* margin-left: 30px; */
        }

                        .contact-left,
                        .contact,
                        .logo-card3 {
                            margin: 0 auto;
                            /* center sections */
                        }
        .card3{
            width: 300px;
            height: auto;
            margin-bottom: 50px; 
            /* margin-left: 13px; */
        }
        .card3 h1 {
            font-size: 1.5rem;
        }
        .circle.grey {
            width: 90px;
            height: 90px;
            transform: translate(-40%, -35%);
        }

        .circle.black {
            width: 100px;
            height: 100px;
            transform: translate(40%, -220%);
        }

        .contact-left{
            margin-bottom: 50px;
        }
        .contact-section{
            align-items: center;
            justify-self: center;
        }
        .contact-info{
            margin-top: 30px;
            /* margin-left: 70px;         */
        }

        .footer-logo img {
            width: 190px;
            margin-bottom: 0;
        }
    
        .footer-links {
            flex-direction: column;
            margin: 0;
            text-align: center;
            margin-top: 0;
        }
    
        .links ul li a {
            font-size: 1rem;
        }
    
        .social-icons a {
            font-size: 1.3rem;
        }
    
        .footer-bottom {
            font-size: 0.9rem;
            margin-top: 10px;
        }
        .footer-container {
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 2rem;
        }
    
        .footer-links {
            margin-left: 0;
            margin-top: 20px;
            align-items: center;
            gap: 1.5rem;
        }
    
        .socials {
            margin-left: 0;
        }
    
        .footer-powered {
            margin-top: 20px;
            text-align: center;
        }



        .social-icons a {
            width: 40px;
            height: 40px;
            font-size: 1.2rem;
        }

        .footer-powered img {
            width: 150px;
        }


}

@media (min-width: 500px) {
    .hero-content h1 {
        font-size: 2.5rem;
    }

    .hero-content p {
        font-size: 1.5rem;
    }

    .mission-content p {
        font-size: 1.2rem;
    }

    .logo-card,
    .logo-card1,
    .logo-card2,
    .logo-card3 {
        margin-right: 0;
        width: 500px;
    }


    .circle.yellow {
        width: 100px;
        height: 100px;
        background: #ffe85f;
        top: 0;
        left: 0;
        transform: translate(10%, 35%);
    }

    .circle.blue {
        width: 130px;
        height: 130px;
        background: #7da4e0;
        bottom: 0;
        right: 0;
        transform: translate(9%, -15%);
    }
}